*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  /* background: #CEC7C2; */ /* 3 tom antes do branco principal */
  background: #D8B9A7;
  /* background: url(../Img/Background/BackgroundFundo.jpg)  repeat-x fixed; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
  color: #000000;
  font-size: 13px;
}
a{
  text-decoration: none;
}
input{
  border: #00000000;
}
textarea {
  resize: none;
}
li{
  list-style-type: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  background-color: #0000002b;
}

/* Track */
::-webkit-scrollbar-track {
  border:  #5e4536c9 solid 1px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33271F; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A36B3F; 
}


.conteudoTopo{
  width: 100vw;
  margin: 0 auto;
  padding: 10px 25px;
	background:url(../Img/Background/BackgroundTopo.png);
  background-size: cover;
  background-position: center;
}
.nomeTopo{
  font-size: 32px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: bolder;
  color: #ffffff;
}


.conteudoCardapio{
  margin: auto;
  display: block;
}
.descricaoCardapio{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
  margin: 10px;
}
.cardapio{
  margin: 5px auto;
  background: #00000041;
  padding: 10px;
  padding: 10px 10px 199px 10px;
  border-radius: 15px;
  border:  #5e4536c9 solid 1px;
  position: relative;
  width: 400px;
}
.cardapioParte1{
  padding-bottom: 10px;
}
.cardapioParte2{
  border-top: #5e4536c9 solid 1px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 199px;
}
.cardapioNome, .cardapioDescricao, .cardapioImagem{
  color: #000000;
  text-align: center;
  padding: 2px 0px;
}
.cardapioImagem{
  display: flex;
  min-height: 170px;
}
.cardapioImagemIcone{
  margin: auto;
}
.cardapioNome{
  font-weight: bolder;
  font-size: 16px;
}
.cardapioDescricao{
  text-align: justify;
}
.cardapioTextoTitulo{
  font-size: 15px;
  padding: 10px 5px 5px 5px;
}
.cardapioTextoLista2Col{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cardapioTextoLista1Col{
  display: grid;
  grid-template-columns: 1fr;
}
.cardapioTextoItem{
  padding: 5px;
  font-size: 14px;
}




